.car-header {
    background-color: var(--car-color-bg-secondary);
    color: var(--car-color-font-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

.car-header h1 {
    font-size: 24px;
    margin-left: 20px;
}

@media (min-width: 992px) {
    .car-header h1 {
        margin-left: 0;
    } 
}