#catalog-section {
    padding: 40px 0;
}

.car-catalog-cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
}

@media (min-width: 576px) {
    .car-catalog-cards {
        gap: 20px;
    }
}

@media (min-width: 992px) {
    .car-catalog-cards {
        gap: 30px;
    }
}