@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --car-color-bg-primary: #FFFFFF;
    --car-color-bg-secondary: #F78B00;
    --car-color-bg-tertiary: #00285F;
    --car-color-bg-quaternary: #EDEDED;

    --car-color-font-primary: #00285F;
    --car-color-font-secondary: #A7A7A7;
    --car-color-font-tertiary: #000;
    --car-color-font-quaternary: #FFFFFF;
    --car-color-font-quinary: #585858;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

html, body {
    background-color: var(--car-color-bg-primary);
}

main {
    padding: 0 10px;
}

@media (min-width: 576px) {
    main {
        padding: 0 24px;
    }
}

/*----------------------------------------------------------------------------------------------*/
/* generic styles */

.car-container {
    width: 100%;
    max-width: 979px;
    margin: 0 auto;
}

.car-mb40 {
    margin-bottom: 40px;
}

.car-mb20 {
    margin-bottom: 20px;
}

.car-mt20 {
    margin-top: 20px;
}

.car-mb15 {
    margin-bottom: 15px;
}

.car-mt15 {
    margin-top: 15px;
}

.car-mb10 {
    margin-bottom: 10px;
}

.car-mt10 {
    margin-top: 10px;
}